<%= provide(:title, "Help") %>
<h1>Help</h1>
<p>
Get help on the ruby on rails tutorial at the 
<a href= "http://railstutorial.org/#help">Rails Tutorial help Section</a>
To ge help on this First app, see the 
<a href= "http://railstutorial.org/book"><em> Ruby on Rails tutorial </em>
book</a>
</p>
